{% extends 'base.html.twig' %}

{% block body %}
    <div class="body">
        <div><img src="pictures/sos.png"/></div>
        <div><img src="pictures/chat.png"/></div>
        <div><img src="pictures/paw.png"/></div>
        <div><img src="pictures/vetlist.png"/></div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: #EFEFF4;
        }
    </style>
{% endblock %}
